:root {
  --color-1: #590209;
  --color-2: #8C030E;
  --color-3: #d90412;
  --color-4: #756F6A;
  --color-5: #bfb093;
  --dark-color: #0F0E0E;
  --light-color: #f5f5f5;
}

.header {
  background-color: var(--light-color) !important;
}

.menu {
  background-color: var(--light-color) !important;
}

.navegacion a{
  border-radius: 6px;
  padding-left: 10px;
}

.navegacion:hover a{
  background-color: var(--color-2) !important;
  color: var(--light-color) !important;
  transition: all 0.3s;
  border-radius: 6px;
}

.dashboard-section {
  padding-top: 60px !important;
}

.hover-card {
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.hover-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 1rem 1.5rem rgba(160, 70, 70, 0.15) !important;
  background-color: #ffffff;
}

.hover-card:hover h5 {
  color: var(--color-3);
}

.tarjeta {
  transition: all 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-6px);
  transition: all 0.3s ease;
  box-shadow: 0 1rem 1.5rem rgba(160, 70, 70, 0.15) !important;
}

/* Modal */
