:root {
  --color-1: #590209;
  --color-2: #8C030E;
  --color-3: #D90416;
  --color-4: #756F6A;
  --color-5: #bfb093;
  --dark-color: #0F0E0E;
  --light-color: #f5f5f5;
}

.header {
  background-color: var(--light-color) !important;
}

.menu {
  background-color: var(--light-color) !important;
}

.navegacion a{
  border-radius: 6px;
  padding-left: 10px;
}

.navegacion:hover a{
  background-color: var(--color-2) !important;
  color: var(--light-color) !important;
  transition: all 0.3s;
  border-radius: 6px;
}

.dashboard-section {
  padding-top: 60px !important;
}

.hover-card {
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.hover-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 1rem 1.5rem rgba(160, 70, 70, 0.15) !important;
  background-color: #ffffff;
}

.hover-card:hover h5 {
  color: var(--color-3);
}

/* Modal */

.modal-dialog {
 position: fixed;
 width: 90%;
 top: 50%;
 left: 50%;
 transform: translate(-50%, 100%);
 opacity: 0;
 z-index: 1050;
}

.modal-dialog.fade-in {
   transition: transform 0.5s ease, opacity 0.3s ease;
 transform: translate(-50%, -50%);
 opacity: 1;
}

.modal-dialog.fade-out {
   transition: transform 0.5s ease, opacity 0.3s ease;
 transform: translate(-50%, 100%);
 opacity: 0;
}